.index {
    background-image: url("http://www.tokkoro.com/picsup/2623939-cake-4k-best-picture-ever.jpg");
    /* Full height */
    height: 100%;
    padding-bottom: 59%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
