.navbar-default .navbar-nav>li>a {
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: red;
  background-color: transparent;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: none;
  box-shadow: none;
  background-color: transparent;
}

.navbar-default {
   border-color: transparent;
   -webkit-box-shadow: none;
   background-color: transparent;
}

.navbar,
.navbar-default {
  background-image: none !important;
  background-color: transparent;
  margin-bottom: 0%;
  padding: 4px;
}

.info-p {
  font-family: inherit;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 0.25rem;
  text-rendering: optimizeLegibility;
  border-bottom-style: groove;
  border-width: 1.1px;
  padding-right: 1%;
  text-align: right;
  padding-top: 0.5%;
  padding-bottom: 5px;
}

.navbar-brand>img {
  display: block;
  height: 6em;
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
  font-family: 'Poppins', sans-serif;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
  margin-top: -4%;
}

.fas.fa-phone {
  font-size: 20px;
}
.full-nav.info-p{
  padding-left: 10%;
}
.info-p a {
 margin-right: 10px;
 color: #777;
}
